<mat-card class="card-demo">
  <mat-card-content class="large">
    <div fxLayout="column" fxFill>
      <div fxLayout fxFlex>
        <div class="one" fxFlex="20" fxLayoutAlign="center">
          <mat-nav-list dense>
            <mat-expansion-panel
              *ngFor="let category of categories"
              [class.mat-elevation-z0]="true"
              (opened)="panelOpenState = true"
              (closed)="panelOpenState = false"
              dense
            >
              <mat-expansion-panel-header>
                {{ category.name }}
              </mat-expansion-panel-header>
              <mat-nav-list *ngFor="let subCategory of category.subCategories" dense>
                <a mat-list-item (click)="filter(subCategory.id, subCategory.imageUrl)">{{ subCategory.name }}</a>
              </mat-nav-list>
            </mat-expansion-panel>
          </mat-nav-list>
        </div>
        <div class="two" fxFlex="80" fxLayoutAlign="center">
          <div style="margin: auto; width: 100%;">
            <div style="width: 100%; height: auto;"><img src="{{ imageUrl }}" width="100%" height="200px" /></div>

            <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center">
              <div fxFlex="45%" *ngFor="let product of products" style="padding: 10px;">
                <mat-card class="example-card">
                  <mat-card-header>
                    <mat-card-title> {{ product.name }}</mat-card-title>
                    <mat-card-subtitle> {{ product.subCategory.name }}</mat-card-subtitle>
                  </mat-card-header>
                  <owl-carousel [options]="mySlideOptions" [items]="product.images"  [carouselClasses]="['owl-theme']">
                    <div class="item" *ngFor="let image of product.images; let i = index">
                      <img mat-card-image src="{{ image.imageUrl }}" alt="Product Photo" />
                    </div>
                  </owl-carousel>

                  <mat-card-content>
                    <mat-list role="list">
                      <mat-list-item role="listitem">Price: {{ product.usdPrice | currency }}</mat-list-item>
                      <mat-list-item role="listitem">Peso: {{ product.poundWeight }} lbs.</mat-list-item>
                    </mat-list>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button color="primary">
                      Detalle
                    </button>
                    <button mat-raised-button color="primary">
                      <mat-icon>add_shopping_cart</mat-icon>
                      Add to Cart
                    </button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
