<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>PerfilTic Ecommerce</span>
    <span class="toolbar-spacer"></span>
    <mat-form-field style="width: 60px;">
      <mat-select [value]="1">
        <mat-option *ngFor="let currency of currencies" [value]="currency.value">
          {{ currency.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-icon-button
      color="dark"
      matBadge="0"
      matBadgePosition="after"
      matBadgeColor="accent"
      aria-label="Example icon button with a home icon"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container"><router-outlet></router-outlet></div>
